.calculator {

display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
width: 300px;
height: 500px;
border: 3px solid black;
border-radius: 10px;

}

.display-box {

display: flex;
border: 2px solid black;
width: 250px;
height: 60px;
border-radius: 10px;
justify-content: flex-end;

}



.calculator .button-box {

display: flex;
flex-direction: column;
width: 250px;
height: 300px;
border: 0px solid black;
justify-content: space-between;
padding-bottom: 20px;
padding: 0px;
}


.first-line, .second-line, .third-line, .last-line {

display: flex;
justify-content: space-between;


}

.first-line > * {

width: 50px;
height: 50px;
border: 2px solid black;
border-radius: 10px;

}

.second-line > * {

width: 50px;
height: 50px;
border: 2px solid black;
border-radius: 10px;


}

.third-line > * {

width: 50px;
height: 50px;
border: 2px solid black;
border-radius: 10px;


}

.last-line > * {

width: 50px;
height: 50px;
border: 2px solid black;
border-radius: 10px;



}







